
<div class="container">
    <ul class="nav nav-tabs" id="displayTabs">
        <li class="active"><a data-toggle="tab" class="nav_link" data_id="1" href="#home">Welcome</a></li>
        <li>
            <a data-toggle="tab" class="nav_link" data_id="2" href="#menu1">Golf Course</a>
  
        </li>
        <li>
            <a data-toggle="tab" class="nav_link" data_id="3" href="#menu2">Tournament</a>
  
        </li>
        <li><a data-toggle="tab" class="nav_link" data_id="4" href="#menu3">Photo Gallery</a></li>
        <li><a data-toggle="tab" id ="eventsViewing" class="nav_link" data_id="5" href="#menu4">Events</a></li>
        <li><a data-toggle="tab" class="nav_link" data_id="6" href="#menu5">Shop</a></li>
        <li><a data-toggle="tab" class="nav_link" data_id="7" href="#menu6">News</a></li>
        <li><a data-toggle="tab" class="nav_link" data_id="8" href="#menu7">Contact</a></li>
        <li><a data-toggle="tab" class="nav_link" data_id="16" href="#menu16">Event Request</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">

            <div class="row">
                <div class="col-lg-12">
                    <img src="~/Content/Images/lp-splash.jpg" class="img-responsive" />
                </div>
            </div>

            
            
            <br />
                    <div class="row">
                        <div class="col-md-3">
                            <a data-toggle="tab" class="nav_link" data_id="6" href="#menu5"><img src="~/Content/Images/scgc04.jpg" class="img-responsive img-rounded"></a>
                            <h2>Outings &amp; Events</h2>
                            <p>View upcoming outings and events. Become a member today to attend.</p>
                        </div>
                        <div class="col-md-3">
                            <a data-toggle="tab" class="nav_link" data_id="6" href="#menu5"><img src="~/Content/Images/scgc03.jpg" class="img-responsive img-rounded"></a>
                            <h2>Training</h2>
                            <p>
                                Classes available for a variety of skill levels. Please call to schedule a session.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <a data-toggle="tab" class="nav_link" data_id="2" href="#menu6"><img src="~/Content/Images/scgc05.jpg" class="img-responsive img-rounded"></a>
                            <h2>Online Store</h2>
                            <p>
                             We offer the top brands in our store. Order online and pick up at      the club.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <a data-toggle="tab" class="nav_link" data_id="2" href="#menu1"><img src="~/Content/Images/scgc01.jpg" class="img-responsive img-rounded"></a>
                            <h2>Membership</h2>
                            <p>
                                We have several tier membership packages catering to anyones needs.
                            </p>
                        </div>
                    </div>

            <div id="ProductsDiv1">
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            @Html.Partial("GolfCoursePartial")
            <br />
            <div id="ProductsDiv2">
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            @Html.Partial("Tournament")
            <br />
            <div id="ProductsDiv3">
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            @Html.Partial("PhotoGalleryPartial")
            <br />
            <div id="ProductsDiv4">
            </div>
        </div>
        <div id="menu4" class="tab-pane fade">
            @Html.Partial("EventsViewPartial")
            <br />
            <div id="ProductsDiv5">
            </div>
        </div>
        <div id="menu5" class="tab-pane fade">
            @Html.Partial("ShopArea")
            <br />
            <div id="ProductsDiv6">
            </div>
        </div>
        <div id="menu6" class="tab-pane fade">
            @Html.Partial("NewsPartial")
            <br />
            <div id="ProductsDiv7">
            </div>
        </div>
        <div id="menu7" class="tab-pane fade">
            @Html.Partial("ContactPartial")
            <br />
            <div id="ProductsDiv8">
            </div>
        </div>
        <div id="menu16" class="tab-pane fade">
            @Html.Partial("EventsRequestPartialForm")
            <br />
            <div id="ProductsDiv16">
            </div>
        </div>
    </div>
</div>

@section script{
    
<script type="text/javascript">
    $(function () {
        $(".nav_link").click(function () {
            //Custom attribute data_id is used to store the ID
            //Get the ID
            var id = $(this).attr("data_id");
            $.ajax({
                url: '@Url.Action("PublicPartial", "Home")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ id: id }), //add parameter
                success: function (data) {
                    //success
                    $('#ProductsDiv' + id).html(data); //populate the tab content.
                    $('#calendar').fullCalendar('render');
                    $('#ProductsDiv' + id).tab('show');
                },
                error: function () {
                    alert("error");
                }
            });
        });
    });

</script>
    }